.search-results {
    margin-top: 10px;
}

.search-results li {
    margin: 5px;
    list-style: none;    
}

.input-group.org-search {
    display: block;
}

.input-group.org-search input {
    width: 60%;
}

.input-group.org-search select {
    width: 40%;
    text-overflow: ellipsis;
}

.input-group.org-search select option:first-of-type {
    font-style: italic;
}

.numbering {
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
    display: inline-block;
    min-width: 20px;
}